@font-face {
    font-family: 'P22 Michelangelo';
    src: url('P22MichelangeloRegular.woff2') format('woff2'),
        url('P22MichelangeloRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bell MT';
    src: url('BellMTItalic.woff2') format('woff2'),
        url('BellMTItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
