body {
    color: var(--bg);
    overflow-x: hidden;
    height: var(--percentage);
    background:var(--bg-sub-pages);
    
}

/* START HEADER  */
.custom-header {
    background: var(--bg);
    box-shadow: 0 5px 20px var(--hover-color);
    position: sticky;
    top: var(--zero);
    z-index: 1000;
    opacity: .6;
}

.logo-text {
    font-family: var(--font-primary);
    font-size: var(--size-large);
    font-weight: var(--font-wt-bolder);
    background: var(--text-color-gt);
    text-shadow: var(--logo-shadow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.9s ease;

}

.logo-text:hover {
    transform: scale(1.5);
}


.nav-link {
    color: var(--white);
    font-family: var(--font-main);
    font-size: var(--font-size-large);
    font-weight: var(--font-wt-bold);
    margin-left: var(--size-medium);
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: var(--zero);
    height: var(--size-small);
    bottom: -4px;
    left: 0;
    background: var(--hover-bg-gt);
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: var(--hover-color);
}

.nav-link:hover::after {
    width: var(--percentage);
}

/* END HEADER  */

/* ---------- GLOBAL FORMS ---------- */
input,
textarea {
    background-color: var(--card-bg);
    border-radius: var(--large-radius);
    padding: var(--size-medium);
    width: var(--percentage);
    border: 1px solid var(--card-bg);
    font-size: var(--font-size-large);
    color: var(--black-light);
    font-weight: var(--font-wt-light);
    font-family: var(--font-form);
}

input:focus,
textarea:focus {
    box-shadow: none;
    border: 1px solid var(--primary-1);
    outline: none;
    font-weight: var(--font-wt-light);
}

button:focus {
    box-shadow: none;
    outline: none;
}

/* ---------- CARDS ---------- */
.card {
    border-radius: var(--zero);
    border: none;
    font-family: var( --font-face-log-in-card) !important;
    
}

.card1 {
    width: var(--half-percentage);
    padding: 40px 30px 10px 30px;
}

.card2 {
    width: var(--half-percentage);
    background-image: var(--btn-bg-gt);
    
}

/* ---------- LOGO ---------- */
#logo {
    width: 80px;
    height: 80px;
    filter: drop-shadow(0 10px 10px var( --primary-6));
}

/* ---------- TEXT ---------- */
.heading {
    margin-bottom: 60px;
}

::placeholder {
    color: var(--black-light);
    opacity: 1;
}

:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var(--black-light);
}

.form-control-label {
    font-size: var(--small-font-sz);
    margin-left: var(--size-medium);
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
    
}

/* ---------- BUTTONS ---------- */
.btn-color {
    border-radius: var(--large-radius);
    color: var(--white);
    background-image: var(--btn-bg-gt);
    padding: 15px;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    transition: 0.4s;
}

.btn-color:hover {
    background-image: var(--hover-bg-gt);
}

.btn-white {
    border-radius: var(--large-radius);
    color: var(--primary-1);
    background-color: var(--white);
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid var(--primary-1);
    transition: 0.4s;
}

.btn-white:hover {
    color: var(--white);
    background-image: var(--btn-bg-gt);
}

/* ---------- LINKS ---------- */
a {
    color: var(--black-light);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

/* ---------- BOTTOM ---------- */
.bottom {
    width: var(--percentage);
    margin-top: 50px;
}

.sm-text {
    font-size: var(--small-font-sz);
}

/* ---------- RESPONSIVE ---------- */
@media screen and (max-width: 992px) {
    .card1,
    .card2 {
        width: var(--percentage);
        padding: 40px 30px 10px 30px;
    }

    .right {
        margin: 100px 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .card2 {
        padding: 50px;
    }

    .right {
        margin: 50px 0;
    }
}

/* END MAIN  */

