
* {
    box-sizing: border-box;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
     cursor: pointer;
}
img,
button{
     cursor: pointer;
}
body {
   font-family: var(--font-main);
    margin: var(--zero);
    padding: var(--zero);
    background-color:var(--main-color-bg);
   
}
 #slider-mobile::-webkit-scrollbar,
 #sectionCard::-webkit-scrollbar {
        display: none;
    }